Pleiades.IntegrationTests/Service References/ServiceApp/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://aleksjones.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://aleksjones.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://aleksjones.com/Imports">
      <xsd:import schemaLocation="http://pleiades:8001/Service1.svc?xsd=xsd0" namespace="http://aleksjones.com" />
      <xsd:import schemaLocation="http://pleiades:8001/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1Enhanced_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1Enhanced_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1Enhanced_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1Enhanced_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1Enhanced_GetSpecial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecial" />
  </wsdl:message>
  <wsdl:message name="IService1Enhanced_GetSpecial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1Enhanced">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://aleksjones.com/IService1/GetData" message="tns:IService1Enhanced_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://aleksjones.com/IService1/GetDataResponse" message="tns:IService1Enhanced_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://aleksjones.com/IService1/GetDataUsingDataContract" message="tns:IService1Enhanced_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://aleksjones.com/IService1/GetDataUsingDataContractResponse" message="tns:IService1Enhanced_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecial">
      <wsdl:input wsaw:Action="http://aleksjones.com/IService1Enhanced/GetSpecial" message="tns:IService1Enhanced_GetSpecial_InputMessage" />
      <wsdl:output wsaw:Action="http://aleksjones.com/IService1Enhanced/GetSpecialResponse" message="tns:IService1Enhanced_GetSpecial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>